---
title:      Главная
changefreq: daily
---
%h1
  Описание проекта
%p
  Данный проект является глубокой переработкой сайта #{link_to("РУсланка.РУ","http://ruslanka.ru") } (статьи/билеты/заметки на историческую тематику):
:textile
  * *дизайн сайта* адаптирован для iPad.
  * *навигация по сайту* полностью переделана. Посредством верхнего меню осуществляется переход на страницу-каталог страниц данного раздела, а меню слева позволяет выбрать страницу посредством постепенного уточнения параметров (например, Год и Месяц для "Заметок":/notes/).
  * добавлен *поиск по сайту*.
  * теперь понравившуюся страницу сайта можно публиковать в *социальных сетях* (Одноклассники, ВКонтакте, Мой Мир, Я.ру, Живой Журнал, Facebook и так далее).
  * все ресурсы сайта опубликованы под лицензией *"CC-BY-SA":http://creativecommons.org/licenses/by-sa/3.0/deed.ru*, то есть ресурсы сайта можно использовать на свое усмотрение при соблюдении двух условий: указание авторства и распространение под этой же лицензией. Соответствующую картинку-ссылку можно увидеть внизу левого меню.
  * *все страницы сайта статические*, что существенно расширяет список бесплатных хостингов (на данный момент это, "github.com":http://github.com).
  * *экспорт заметок* из ЖЖ и Wordpress по RSS позволяет динамически добавлять новости на статический сайт.
  * *экспорт ссылок* из "delicious":http://delicious.com по RSS

