%a.button{:href => "/"}
  Главная
%a.button{:href => "/notes/"}
  Заметки
%a.button{:href => "/history/"}
  История
%a.button{:href => "/tickets/"}
  Билеты
/
  %a.button
    Глоссарий
  %a.button
    Оружие
  %a.button
    Литература
  %a.button
    Авторы
%a.button{:href => "/links/"}
  Ссылки

